<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="design.css">
</head>

<body>



    <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button> -->

    <div id="id01" class="bg">
        <h2 class="title">Create Account</h2>
        <form action="/users/signup" class="modal-content" method='POST'>
            <label class="email" for="username"><b>Your email:</b></label>
            <input class="enterEmail" type="text" placeholder="Enter your email address..." name="username" required>

            <label class="psw" for="password"><b>Your Password: </b></label>
            <input class="enterPsw" type="password" placeholder="Enter Password..." name="password" required>

            <label class="repsw" for="repsw"><b>Re-enter Password: </b></label>
            <input class="reEnterPsw" type="repassword" placeholder="Re-enter Password..." name="repassword" required>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            <% if (errorMessage) { %>
                <div class="error-message">
                    <%= errorMessage %>
                </div>
                <% } %>
                    <div class="clearfix">
                        <button type="submit" class="signupbtn">Sign Up</button>
                    </div>
        </form>
    </div>
    
</body>

</html>