/*
create new reminder pop up
*/

a.selected {
    background-color: #1F75CC;
    color: white;
    z-index: 100;
}

.messagepop {
    background-color: rgba(124, 232, 225, 0.9);
    border: 1px solid #999999;
    cursor: default;
    display: none;
    margin-top: 15px;
    position: absolute;
    left: 169px;
    top: 88px;
    text-align: left;
    width: 800px;
    height: 859px;
    z-index: 50;
    padding: 25px 25px 20px;
}

.messagepop input {
    position: relative;
}


/* label {
    display: block;
    margin-bottom: 3px;
    padding-left: 15px;
    text-indent: -15px;
} */

.messagepop p,
.messagepop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 4px 0;
    padding-bottom: 4px;
}

.messagepop h2 {
    font-family: Righteous;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 79px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

.messagepop h4 {
    font-family: Righteous;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 5px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#add-more-subtasks {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.pop input[type=text] {
    width: 600px;
    height: 36px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

.pop #time,
#date[type=text] {
    width: 270px;
}


/*
end create new reminder pop up
*/


/* create edit popup */

.form-popup {
    display: none;
    position: absolute;
    width: 1162px;
    height: 859px;
    left: 165px;
    top: 91px;
    background: rgba(124, 232, 225, 0.9);
    border: 1px solid #000000;
    box-sizing: border-box;
    z-index: 3;
}

#popupHeader {
    position: absolute;
    width: 399px;
    height: 79px;
    left: 546px;
    top: 158px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#popupTitle {
    position: absolute;
    width: 107px;
    height: 60px;
    left: 293px;
    top: 260px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#dateInput {
    position: absolute;
    width: 400px;
    height: 72px;
    left: 293px;
    top: 560px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

#timeInput {
    position: absolute;
    width: 340px;
    height: 72px;
    left: 728px;
    top: 560px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

#planInput {
    position: absolute;
    width: 777px;
    height: 72px;
    left: 293px;
    top: 400px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

#planInput::-webkit-input-placeholder {
    position: absolute;
    width: 258px;
    height: 35px;
    left: 311px;
    top: 345px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#planInput::-ms-input-placeholder {
    position: absolute;
    width: 258px;
    height: 35px;
    left: 311px;
    top: 345px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#planInPut::placeholder {
    position: absolute;
    width: 258px;
    height: 35px;
    left: 311px;
    top: 345px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#popupDate {
    position: absolute;
    width: 118px;
    height: 60px;
    left: 293px;
    top: 420px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#popupTime {
    position: absolute;
    width: 112px;
    height: 60px;
    left: 758px;
    top: 420px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#popupSubtask {
    position: absolute;
    width: 195px;
    height: 60px;
    left: 293px;
    top: 576px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#subtask {
    position: absolute;
    width: 777px;
    height: 72px;
    left: 293px;
    top: 700px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

#subtask::-webkit-input-placeholder {
    position: absolute;
    width: 437px;
    height: 45px;
    left: 312px;
    top: 659px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#subtask::-ms-input-placeholder {
    position: absolute;
    width: 437px;
    height: 45px;
    left: 312px;
    top: 659px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#subtask::placeholder {
    position: absolute;
    width: 437px;
    height: 45px;
    left: 312px;
    top: 659px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#confirmButton {
    position: absolute;
    width: 275px;
    height: 50px;
    left: 540px;
    top: 793px;
    color: #FFFFFF;
    font-family: Righteous;
    font-size: 36px;
    line-height: 45px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

#closeButton {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1075px;
    top: 78px;
}


/* end edit popup */

body {
    position: relative;
    width: 1500px;
    height: 1000px;
    background: #FFFFFF;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

h3 {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

label.lab {
    /* Rectangle 11 */
    padding: 8px;
    background: #926CFE;
    border-radius: 22px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin: 3px;
}

span.dot1 {
    height: 15px;
    width: 15px;
    background: pink;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

span.dot2 {
    height: 15px;
    width: 15px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

span.dot3 {
    height: 15px;
    width: 15px;
    background: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

span.dot4 {
    height: 15px;
    width: 15px;
    background: greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

span.dot5 {
    height: 15px;
    width: 15px;
    background: cyan;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

span.dot6 {
    height: 15px;
    width: 15px;
    background: blue;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

#time {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: #0094FF;
}

ul.substask {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

a {
    text-decoration: none;
}

table.reminderTable {
    list-style: none;
    width: 590px;
}

tr:hover {
    background-color: #ddd;
}

td {
    height: 70px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: solid;
    border-color: #999;
}

li {
    list-style-type: circle;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}


/* input {
   width: 15px;
   height: 15px;
   position: relative;
   top: -15px;
   left: 11px;
} */

#btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: xx-large;
    width: 5%;
    position: absolute;
    right: 40px;
    top: 95px;
    padding: 8px;
}

#btn:hover {
    opacity: 50%;
}

#wrapper {
    /* Main */
    position: relative;
    width: 1500px;
    height: 1000px;
    background: #FFFFFF;
}

.navbar {
    overflow: hidden;
    /* background */
    position: absolute;
    width: 1500px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #7CE8E1;
    border: 1px solid #69E9E1;
    box-sizing: border-box;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.button {
    background-color: #1aa;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.side {
    float: left;
    position: absolute;
    width: 610px;
    height: 930px;
    left: 0px;
    top: 70px;
    background: #EFEFEF;
}

body.submain {
    width: 850px;
    height: 900px;
    background: white;
}

.main {
    float: left;
    /* Rectangle 8 */
    position: absolute;
    width: 890px;
    height: 930px;
    left: 610px;
    top: 70px;
    background: white;
}

.control_space {
    padding-left: 51px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: white;
}

#inviteFriends {
    position: absolute;
    width: 213px;
    height: 45px;
    left: 1032px;
    top: 15px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#logOut {
    position: absolute;
    width: 127px;
    height: 45px;
    left: 1301px;
    top: 15px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#searchIcon {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 742px;
    top: 16px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.button.reminder {
    position: absolute;
    width: 776px;
    height: 110px;
    left: 0px;
    top: 670px;
    background: #7CE8E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}

.button.reminder {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.button.tag {
    width: 230px;
    height: 70px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    position: relative;
    left: 30px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.button.edit {
    position: absolute;
    width: 230px;
    height: 70px;
    left: 0px;
    top: 825px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.button.edit {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.button.share {
    position: absolute;
    width: 230px;
    height: 70px;
    left: 300px;
    top: 825px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.button.share {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.button.delete {
    position: absolute;
    width: 230px;
    height: 70px;
    left: 600px;
    top: 825px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.button.delete {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.button.create {
    position: absolute;
    width: 285px;
    height: 70px;
    left: 54px;
    top: 905px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.button.create {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

button.btn.fa {
    position: absolute;
    width: 73px;
    height: 70px;
    left: 372px;
    top: 905px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

button.fa {
    position: absolute;
    width: 73px;
    height: 70px;
    left: 477px;
    top: 905px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}


/* choose tag section --------------------------------------------------*/

.button_part {
    /* Rectangle 23 */
    position: absolute;
    width: 400px;
    height: 497px;
    left: 350px;
    top: -340px;
    background: rgba(124, 232, 225, 0.9);
    opacity: 0.9;
    border: 1px solid #000000;
    padding-left: 30px;
}

.close {
    background: rgba(124, 232, 225, 1);
    position: absolute;
    right: 10px;
    top: 10px;
}

.color {
    visibility: hidden;
    padding: 10px;
    position: relative;
    right: 0px;
    top: 0px;
}

.active {
    visibility: visible;
}

.color h2 {
    /* Add tag to reminder: */
    width: 340px;
    height: 45px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

.color h4 {
    /* Existing tags: */
    width: 151px;
    height: 30px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

.color input {
    /* Enter tag name.. */
    width: 280px;
    height: 30px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}


/* navigation fix------------------------------------------------- */

.topnav {
    overflow: hidden;
    background: #7CE8E1;
    border: 1px solid #69E9E1;
    box-sizing: border-box;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: left;
}

.topnav input[type=text] {
    padding: 3px;
    margin: 4px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 758px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    border-radius: 4px;
}

.topnav .search-container button {
    float: right;
    padding: 3px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 26px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.topnav .search-container button:hover {
    background: #ccc;
}


/* sign in and sign up */

body {
    position: relative;
    width: 1500px;
    height: 1000px;
    background: #FFFFFF;
}

.bg {
    /* background */
    position: absolute;
    width: 1500px;
    height: 1000px;
    left: 0px;
    top: 0px;
    background: #7CE8E1;
    border: 1px solid #69E9E1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1.title {
    /* Welcome to Reminder */
    position: absolute;
    width: 1165px;
    height: 151px;
    left: 167px;
    top: 195px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 122px;
    line-height: 151px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2.title {
    /* Create account */
    position: absolute;
    width: 602px;
    height: 107px;
    left: 449px;
    top: 257px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 86px;
    line-height: 107px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Extra styles for the cancel button */

.login {
    /* Rectangle 1 */
    position: absolute;
    width: 572px;
    height: 70px;
    left: 468px;
    top: 646px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}


/* Float cancel and signup buttons and add an equal width */


/* .signupbtn, .login {
float: left;
width: 50%;
} */


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

.enterEmail {
    /* email box */
    position: absolute;
    width: 400px;
    height: 49px;
    left: 738px;
    top: 459px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.enterEmail[type=text] {
    /* Enter your email address.. */
    position: absolute;
    width: 284px;
    height: 30px;
    left: 745px;
    top: 471px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

.enterPsw {
    /* password box */
    position: absolute;
    width: 400px;
    height: 49px;
    left: 738px;
    top: 523px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.enterPsw[type=password] {
    /* Enter your password.. */
    position: absolute;
    width: 241px;
    height: 30px;
    left: 745px;
    top: 535px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

.reEnterPsw {
    /* re-enter password box */
    position: absolute;
    width: 400px;
    height: 49px;
    left: 738px;
    top: 591px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.reEnterPsw[type=repassword] {
    /* Re-enter password.. */
    position: absolute;
    width: 224px;
    height: 30px;
    left: 745px;
    top: 601px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

.email {
    /* Your email: */
    position: absolute;
    width: 178px;
    height: 45px;
    left: 512px;
    top: 463px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.psw {
    /* Your Password: */
    position: absolute;
    width: 258px;
    height: 45px;
    left: 432px;
    top: 527px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.repsw {
    /* Re-enter Password: */
    position: absolute;
    width: 328px;
    height: 45px;
    left: 362px;
    top: 593px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forgetps {
    position: absolute;
    width: 202px;
    height: 30px;
    left: 840px;
    top: 526px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signupbtn {
    /* Sign up button */
    position: absolute;
    width: 572px;
    height: 70px;
    left: 470px;
    top: 733px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.signin_enterEmail {
    /* login id box */
    position: absolute;
    width: 580px;
    height: 49px;
    left: 462px;
    top: 450px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.signin_enterEmail[type=text] {
    position: absolute;
    width: 284px;
    height: 30px;
    left: 468px;
    top: 460px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

.signin_enterPsw {
    position: absolute;
    width: 581px;
    height: 49px;
    left: 461px;
    top: 558px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.signin_enterPsw[type=password] {
    position: absolute;
    width: 241px;
    height: 30px;
    left: 467px;
    top: 568px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

.signin_email {
    position: absolute;
    width: 216px;
    height: 42px;
    left: 461px;
    top: 408px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.015em;
    color: #444444;
}

.signin_psw {
    position: absolute;
    width: 155px;
    height: 42px;
    left: 461px;
    top: 516px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.015em;
    color: #444444;
}

.signin_forgetps {
    position: absolute;
    width: 202px;
    height: 30px;
    left: 840px;
    top: 526px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signin_login {
    /* Rectangle 1 */
    position: absolute;
    width: 572px;
    height: 70px;
    left: 468px;
    top: 646px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.signin_signupbtn {
    /* Sign up button */
    position: absolute;
    width: 572px;
    height: 70px;
    left: 470px;
    top: 733px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.btn_bar {
    position: absolute;
    top: -0px;
}


/* create edit popup */

.form-popup_edit {
    display: none;
    position: absolute;
    width: 462px;
    height: 859px;
    left: 125px;
    top: 0px;
    background: rgba(124, 232, 225, 0.9);
    border: 1px solid #000000;
    box-sizing: border-box;
    z-index: 3;
    padding-left: 40px;
}

#popupHeader_edit {
    /* position: absolute; */
    width: 399px;
    height: 20px;
    /* left: 546px;
top: 158px; */
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 79px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#popupTitle_edit {
    /* position: absolute; */
    width: 107px;
    height: 10px;
    /* left: 293px;
top: 260px; */
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

.dateInput_edit {
    width: 250px;
    height: 50px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.timeInput_edit {
    width: 250px;
    height: 50px;
    background: rgba(255, 255, 255, 0.95);
    box-sizing: border-box;
    border-radius: 4px;
}

#planInput_edit {
    width: 300px;
    height: 40px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

#planInput_edit::-webkit-input-placeholder {
    width: 258px;
    height: 10px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#planInput_edit::-ms-input-placeholder {
    width: 258px;
    height: 30px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#planInput_edit[type=text] {
    font-size: 24px;
}

#planInPut_edit::placeholder {
    width: 258px;
    height: 30px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#popupDate_edit {
    width: 60px;
    height: 30px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#popupTime_edit {
    /* position: absolute; */
    width: 40px;
    height: 30px;
    /* left: 758px;
top: 420px; */
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#popupSubtask_edit {
    /* position: absolute; */
    width: 195px;
    height: 10px;
    /* left: 293px;
top: 576px; */
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    /* line-height: 60px; */
    /* identical to box height */
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);
}

#subtask_edit[type=text] {
    font-size: 24px;
}

#subtask_edit {
    /* position: absolute; */
    width: 240px;
    height: 40px;
    /* left: 293px;
top: 700px; */
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

#subtask_edit::-webkit-input-placeholder {
    /* position: absolute; */
    width: 300px;
    height: 25px;
    /* left: 312px;
top: 659px; */
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#subtask_edit::-ms-input-placeholder {
    /* position: absolute; */
    width: 100px;
    height: 45px;
    /* left: 312px;
top: 659px; */
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#subtask_edit::placeholder {
    /* position: absolute; */
    width: 437px;
    height: 45px;
    /* left: 312px;
top: 659px; */
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #CCCCCC;
}

#confirmButton_edit {
    /* position: absolute; */
    width: 175px;
    height: 50px;
    /* left: 540px;
top: 793px; */
    color: #FFFFFF;
    font-family: Righteous;
    font-size: 24px;
    line-height: 45px;
    background: #7A4675;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin: 10px;
}

#closeButton_edit {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
}


/* end edit popup */


#closeButton_create{
    position: absolute;
    right: 10px;
    top: 10px;
}

.container input[type= textfield]{
    height: 60px;
    width: 600px;
}

.form-popup_edit input[type= textfield]{
    height: 60px;
    width: 300px;
}

.weather-popup {
    display: none;
    position: absolute;
    width: 700px;
    height: 870px;
    left: 125px;
    top: 0px;
    background: rgba(124, 232, 225, 0.9);
    border: 1px solid #000000;
    box-sizing: border-box;
    z-index: 3;
    padding-left: 40px;
}

.temperature-in-weather{
    font-size: 26px;
    margin: 0;
}

#weather-table td{
    margin: 15px;
    padding: 15px;
}

#weather-table{
    padding-top: 20px;
}

#darksky-link-in-weather{
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 40%;
}

.detail-field-names-h2{
    margin-top: 10px;
    margin-bottom: 0px;
}

.detail-field-names-p{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    position: relative;
    top: -15px;
}