<div class="container">

    <form action="/reminder/" method="POST">
        <h2>New Reminder</h2>
        <h4>Title:</h4>
        <input placeholder="Enter reminder title.." type="text" name="title" id="title">

        <h4>Date:</h4>
        <input placeholder="Pick date.." type="text" name="date" id="date">

        <h4>Time:</h4>
        <input placeholder="Pick time.." type="text" name="time" id="time">

        <h4>Subtask:</h4>
        <div id='subtasks-div'>
            <input type="text" placeholder="Enter subtask.." name="subtask" class="subtask-input">
        </div>
        </br>
        <a href='#' id='add-more-subtasks'>add more</a>
        </br>
        </br>
        <button id='create'>Create</button>
    </form>
</div>


<!--create new reminder popup window-->
<div class="messagepop pop">
    <form action="/reminder/" method="POST">
        <h2>New Reminder</h2>
        <h4>Title:</h4>
        <input placeholder="Enter reminder title.." type="text" name="title" id="title">

        <h4>Date:</h4>
        <input placeholder="Pick date.." type="text" name="date" id="date">

        <h4>Time:</h4>
        <input placeholder="Pick time.." type="text" name="time" id="time">

        <h4>Subtask:</h4>
        <div id='subtasks-div'>
            <input type="text" placeholder="Enter subtask.." name="subtask" class="subtask-input">
        </div>
        </br>
        <a href='#' id='add-more-subtasks'>add more</a>
        </br>
        </br>
        <button id='create'>Create</button>
    </form>
</div>