<!--create new reminder popup window-->
<div class="container">
    <div class="messagepop pop">

        <form action="/reminder/" method="POST">
            <h2>New Reminder</h2>
            <h4>Title:</h4>
            <input placeholder="Enter reminder title.." type="text" name="title" id="title">

            <h4>Date:</h4>
            <input placeholder="Pick date.." type="text" name="date" id="date">

            <h4>Time:</h4>
            <input placeholder="Pick time.." type="text" name="time" id="time">

            <h4>Subtask:</h4>
            <div id='subtasks-div'>
                <input type="text" placeholder="Enter subtask.." name="subtask" class="subtask-input">
            </div>
            </br>
            <a href='#' id='add-more-subtasks'>add more</a>
            </br>
            </br>
            <button id='create'>Create</button>
        </form>
    </div>
</div>
<!--end create new reminder popup window-->
​
<div class="row">
    <div class="side" style='overflow:scroll;'>
        <table class="reminderTable">
            <tr>
                <td><input type="checkbox" id="reminder1" name="reminder1" value="reminder1">
                    <label for="reminder1">the first example of reminder</label><label class="lab-related"><span
                                    class="dot"></span><span class="dot"></span>
                        </td>
                    </tr>

                    ​ ​
                </table>
    </div>
    <div class="btn_bar">
        <table>
            <th><input type="button" class="button create" id='create-new-reminder' value="Create new"></th>
            <th><button style="font-size: 37px" class="fa fa-share-alt"></button></th>
            <th><button style="font-size: 37px" class="btn fa fa-trash"></button></th>
        </table>
    </div>
</div>           
            
            

            <div class="main">
                <div class="control_space">
                    <% reminders.forEach(function (reminderItem) { %>
                    <h1><%= reminderItem.title %></h1>
                    <% }) %>
                    <label class="lab">label1</label><label class="lab">label2</label>

                    <h3>Time: </h3>
                    <p id="time">
                        <% reminders.forEach(function (reminderItem) { %>
                            <%= reminderItem.date %>
                    </p>
                    <p>
                        <%= reminderItem.time %>
                    </p>
                    <% }) %>

                        ​
                        <h3>Subtasks: </h3>
                        <ul class="subtask">
                            <li>
                                <% reminders.forEach(function (reminderItem) { %>

                                    <%= reminderItem.subtask %>
                                        <% }) %>

                            </li>
                        </ul>
                        <img class="btn" id="btn" src="cross_button.png">


                        <!-- example -->




    </div>
    <div id="button_part">
        <div class="color" id="button1">LINK1</div>
        <div class="color" id="button2">LINK2</div>
        <div class="color" id="button3">LINK3</div>
        <div class="color" id="button4">LINK4</div>
        <div class="color" id="button5">LINK5</div>
        <div class="color" id="button6">LINK6</div>
        <div class="color" id="button7">LINK7</div>
    </div>
    ​ ​
</div>
​
<div class="footer">
    ​<input type="button" class="button reminder" value="BRING AN UMBRELLA?">
    <table>
        <th><input type="button" class="button edit" value="Edit"></th>
        <th><button class="button share">Share<i class="fa fa-share-alt"></i></th>
                <th><button class="button delete">Delete<i class="btn fa fa-trash"></i></th>
            </table>
        </div>