<h1>Users</h1>

<form id="form" action="/users/signup" method="POST">
  <h3>Create New User</h3>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your username" required>

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="********" required>
  <% if (errorMessage) { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
  <% } %>
  <button type="submit">Create account</button>
</form>