<h1>Welcome user</h1>

<form action="/users/login" method="POST" id="form">
  <h3>Login</h3>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="password">

  <% if (errorMessage) { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>

  <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/users/signup">Sign up</a>
  </p>
</form>