<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Reminder List</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://common.olemiss.edu/_js/pickadate.js-3.5.3/lib/themes/classic.css" id="theme_base">
    <link rel="stylesheet" href="https://common.olemiss.edu/_js/pickadate.js-3.5.3/lib/themes/classic.date.css" id="theme_date">
    <link rel="stylesheet" href="https://common.olemiss.edu/_js/pickadate.js-3.5.3/lib/themes/classic.time.css" id="theme_time">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />


</head>

<body>
    <%- body %>


</body>
<script>
    function openEditPopup() {
        document.getElementById("popupForm").style.display = "block";
    }

    function closeEditPopup() {
        document.getElementById("popupForm").style.display = "none";
    }
</script>
<script src='/model.js'></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://common.olemiss.edu/_js/pickadate.js"></script>
<script src='/script.js'></script>

</html>