<%- include ("navbar") %>

    <!--create new reminder popup window-->
    <div class="container">
        <div class="messagepop pop">

            <form action="/users/profile/" method="post">
                <h2>New Reminder</h2>
                <h4>Title:</h4>
                <input placeholder="Enter reminder title.." type="text" name="title" id="title">

                <h4>Descripion:</h4>
                <input placeholder="Enter descripion.." type="text" name="description" id="descripion">

                <h4>Date:</h4>
                <input placeholder="Pick date.." type="text" name="date" id="date">

                <h4>Time:</h4>
                <input placeholder="Pick time.." type="text" name="time" id="time">

                <h4>Subtask:</h4>
                <div id='subtasks-div'>
                    <input type="text" placeholder="Enter subtask.." name="subtask" class="subtask-input">
                </div>
                </br>
                <a href='#' id='add-more-subtasks'>add more</a>
                </br>
                </br>
                <button id='create'>Create</button>
            </form>
        </div>
    </div>
    <!--end create new reminder popup window-->
    ​
    <div class="row">
        <div class="side" style='overflow:scroll;'>
            <table class="reminderTable">
                <% if(typeof reminders != 'undefined') { %>
                    <%for(let i = 0; i < reminders.length; i++) { %>
                        <tr>
                            <td>
                                <input type="checkbox" id="reminder" name="reminder" value="reminder">
                                <a target="iframe_a" href=<%="/users/profile/" + reminders[i].id %>><%= reminders[i].title %></a>
                                </label>
                                <span class="dot"></span><span class="dot"></span>
                            </td>
                        </tr>
                        <% } %>
                            <% } else { %>
                                <% } %>


                                    ​ ​
            </table>
        </div>
        <div class="btn_bar">
            <table>
                <th><input type="button" class="button create" id='create-new-reminder' value="Create new"></th>
                <th><button style="font-size: 37px" class="fa fa-share-alt"></button></th>
                <th><button style="font-size: 37px" class="btn fa fa-trash"></button></th>
            </table>
        </div>
    </div>

    <iframe src="/users/profile/empty_page" class="main" name="iframe_a"></iframe> ​ ​
    </div>
    ​