<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="design.css">
</head>

<body>



    <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button> -->

    <div id="id01" class="bg">
        <h2 class="title">Create Account</h2>
        <form action="/users/signup" class="modal-content" method='POST'>
            <label class="email" for="username"><b>Your email:</b></label>
            <input class="enterEmail" type="text" placeholder="Enter your email address..." name="username" required>

            <label class="psw" for="password"><b>Your Password: </b></label>
            <input class="enterPsw" type="password" placeholder="Enter Password..." name="password" required>

            <!-- <label class="repsw" for="repsw"><b>Re-enter Password: </b></label>
            <input class="reEnterPsw" type="text" placeholder="Re-nnter Password..." name="password" required> -->
            <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->
            <% if (errorMessage) { %>
                <div class="error-message">
                    <%= errorMessage %>
                </div>
                <% } %>
                    <div class="clearfix">
                        <button type="submit" class="signupbtn">Sign Up</button>
                    </div>
        </form>
    </div>
    <script>
        console.log("hello");
        ("hello")
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $('.signupbtn').click((e) => {
            let psw = $('.enterPsw').val();
            let rpsw = $('.reEnterPsw').val();

            if (psw !== rpsw) {
                e.preventDefault;
                $('.enterPsw').val('');
                $('.reEnterPsw').val('');
                $('.enterPsw').attr('placeholder', 'Two passwords must be the same. Please re-enter.');
                $('.reEnterPsw').attr('placeholder', 'Two passwords must be the same. Please re-enter.');
            }
        })
    </script>

</body>

</html>